etc/pyspectral_rsr_data.tgz filter=lfs diff=lfs merge=lfs -text
pyspectral/etc/pyspectral_rsr_data.tgz filter=lfs diff=lfs merge=lfs -text
doc/_static/mersi2_rsr_band_0040_0070.png filter=lfs diff=lfs merge=lfs -text
doc/_static/mersi2_rsr_band_0040_0070_missingbands.png filter=lfs diff=lfs merge=lfs -text
pyspectral/version.py export-subst
