prune *
exclude *
graft doc
recursive-exclude doc/_build *
graft pyspectral
graft bin
recursive-exclude pyspectral/data/modis *
include LICENSE.txt
include README.md
include AUTHORS.md
include CHANGELOG.md
include CHANGELOG_RSR_DATA.rst
include pyspectral/version.py
include pyproject.toml
include setup.py
include setup.cfg
global-exclude *.py[cod]
