prune *
exclude *
graft doc
recursive-exclude doc/_build *
graft pyspectral
recursive-exclude pyspectral/data/modis *
include LICENSE.txt
include README.md
include AUTHORS.md
include CHANGELOG.md
include CHANGELOG_RSR_DATA.md
include pyspectral/version.py
global-exclude *.py[cod]
